{% extends "base.html.twig" %}

{% block body %}
    <div class="wrapper">
        {% include "components/auth-navbar.html.twig" %}
        <main class="container-xl container-fluid" id="main-content">
            <div class="auth-container">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/auth.css') }}">
    {% block css %}{% endblock %}
{% endblock %}